"*":
  core:
    telemetryConsent: "limited"
  editor:
    fontFamily: "Noto Sans Mono"
    fontSize: 17
    showIndentGuide: true
    softTabs: false
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "e4ff2e73-552d-46da-941d-0818f70ed2a0"
  "highlight-line":
    enableBackgroundColor: false
    enableSelectionBorder: true
    hideHighlightOnSelect: true
  "ide-python":
    pylsPlugins:
      autopep8: {}
      flake8:
        ignore: [
          "E302"
          "E402"
          "W191"
        ]
        maxLineLength: 128
      pycodestyle:
        ignore: [
          "E302"
          "E402"
          "E305"
          "W191"
          "W292"
          "E265"
          "E722"
        ]
        maxLineLength: 128
      pydocstyle: {}
      pyflakes: {}
  "line-number-color":
    lineNumberBackground: "#0b6f4e"
  "linter-ui-default":
    panelHeight: 145
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  "spell-check":
    locales: [
      "en-GB"
    ]
  welcome:
    showOnStartup: false
