[Unit]
Description=Internal RGB light controller based on CPU temperature

[Service]
Type=simple
ExecStart=/usr/bin/sudo /usr/bin/python3 -u /home/daniel/Documents/Programming/Python/systemd_scripts/InternalLights/main.py
ExecStop=/usr/bin/python3 /home/daniel/Documents/Programming/Python/systemd_scripts/InternalLights/turn_off.py

[Install]
WantedBy=multi-user.target
